@font-face {
    font-family: "Archivo-Bold";
    src: url("../fonts/Archivo/Archivo-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url("../fonts/Archivo/ArchivoBlack-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-BoldItalic";
    src: url("../fonts/Archivo/Archivo-BoldItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-Medium";
    src: url("../fonts/Archivo/Archivo-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-MediumItalic";
    src: url("../fonts/Archivo/Archivo-MediumItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-Regular";
    src: url("../fonts/Archivo/Archivo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-RegularItalic";
    src: url("../fonts/Archivo/Archivo-RegularItalic.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-SemiBold";
    src: url("../fonts/Archivo/Archivo-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Archivo-SemiBoldItalic";
    src: url("../fonts/Archivo/Archivo-SemiBoldItalic.ttf") format("truetype");
}
